body{
    margin: 0;

}

.top-container{
    background-image: url("https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.top-container h1{
    color: red;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.text{
    margin: 50px 5%;
    font-family: sans-serif;

}
.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 4px 8px rgba(0,0,0,0.3) ;
    transition: background-color 0.4s;

}
.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: cursive;

}

.navbar ul li a:hover{
    color: red;

}

.navbar.active{
    background-color: black;
}

.navbar.active ul li a{
    color: white;
}